* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nascosto {
    opacity: 0;
}

.mostra {
    opacity: 1;
}

.bkg-green {
    background: lightgreen;
}

.bkg-red {
    background: red;
}

.bkg-yellow {
    background: yellow;
}